html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.turntable-bg {
    width: 650px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
    /* background: url("../images/turntable-bg.jpg");*/
}

.turntable-bg .mask {
    width: 454px;
    height: 451px;
    position: absolute;
    left: 116px;
    top: 60px;
    /*z-index:9;*/
}

.turntable-bg .pointer {
    width: 174px;
    height: 228px;
    position: absolute;
    left: 46%;
    top: 61%;
    margin-left: -67px;
    margin-top: -144px;
    z-index: 8;
}

.turntable-bg .pointer img {
    width: 80%;
}

.turntable-bg .rotate {
    /*	border:8px solid #fff;*/
    /* border-radius: 225px;
    box-shadow: 5px 8px 16px #d0c4c0; */
    width: 450px;
    height: 450px;
    position: absolute;
    left: 0;
    top: 0;
}

.turntable-bg .rotate img {
    width: 140%;
    border-radius: 50%;
}

.panel {
    position: absolute;
    right: 7%;
    bottom: 230px;
    width: 370px;
    height: 620px;
    /* padding: 10px; */
    text-align: center;
    background: url('../images/bb.png') no-repeat;
    background-size: contain;
}

h2 {
    color: #fff;
    margin: 5px;
}

.activity {
    position: relative;
    overflow: hidden;
    height: 305px;
    top: 30%;
    width: 87.5%;
    left: 6.5%;
    background-color: #fff;
}

.activity ul {
    top: -15px;
    padding: 0;
    color: #666;
    position: relative;
}

.activity li {
    height: 40px;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    list-style: none;
    border-bottom: 1px dotted #d2d2d2;
}

.lotteryCode {
    margin-top: 45px;
}

.lotteryCode input {
    outline: none;
    border: none;
    padding: 20px 35px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    color: #000;
    font-size: 16px;
}

#submit {
    cursor: pointer;
    display: block;
    margin: 1% auto 0;
    padding: 9px 33px;
    background-color: #DEAA4E;
    color: #fff
}

.searchbutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    transform: translateY(90px);
}

.lotteryTips {
    color: #000;
}

#search {
    outline: none;
    border: none;
    padding: 10px 35px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    background-color: #DEAA4E;
    color: #fff;
    font-size: 16px;
}

.mytips {
    background-color: #fff;
}

.box {
    display: flex;
}

.text-left {
    width: 32%;
}

.text-center {
    width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-right {
    width: 50%;
    color: red;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
    width: 0px
}

.couten {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: 110% 100%;
    background-position-x: -156px;
}

input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
    -webkit-appearance: none;
}

.mytips #swal2-content {
    position: static !important;
}