body,
html {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.turntable-bg {
    /* position: relative; */
    width: 90%;
    /* height: 47%; */
    margin: 1% auto 0;
}

.turntable-bg .pointer {
    position: absolute;
    width: 20%;
    left: 41%;
    top: 36vw;
    z-index: 8;
}

.turntable-bg .pointer img {
    width: 80%;
}


/* .turntable-bg .rotate {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
} */

.turntable-bg .rotate img {
    width: 100%;
    border-radius: 50%;
}

.panel {
    width: 86%;
    height: 74%;
    margin: 1% auto 0;
    text-align: center;
    background: url(../images/bb.png) no-repeat;
    background-size: 100% 100%;
}

.activity {
    position: relative;
    overflow: hidden;
    top: 35%;
    width: 88%;
    height: 59%;
    left: 6.1%;
    background-color: #fff;
}

.activity ul {
    top: -15px;
    padding: 0;
    color: #666;
    position: relative;
}

.activity li {
    height: 40px;
    padding: 0;
    font-size: .3em;
    font-weight: 700;
    line-height: 40px;
    list-style: none;
    border-bottom: 1px dotted #d2d2d2;
}

.lotteryCode {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.lotteryCode input {
    outline: none;
    border: none;
    padding: 14px 18px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    color: #000;
}

#submit {
    cursor: pointer;
    display: block;
    margin: 3% auto 0;
    padding: 12px 46px;
    background-color: #DEAA4E;
    color: #fff
}

.box {
    display: flex;
}

.text-left {
    width: 32%;
}

.text-center {
    width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-right {
    width: 50%;
    color: red;
}

.swal2-popup #swal2-content {
    top: 75.5%;
    left: 31%;
}

.couten {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    background-position-x: 53%;
}

input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
    -webkit-appearance: none;
}

#search {
    margin-top: 15px;
    outline: none;
    border: none;
    padding: 10px 35px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    background-color: #DEAA4E;
    color: #fff;
    font-size: 16px;
}

.mytips {
    background-color: #fff;
}

.mytips #swal2-content {
    position: static !important;
}

.lotteryTips {
    color: #000;
}